<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
    <nav class="navbar">
        <div class="left-side">
            <!-- Left side content here -->
            <ul>
                <li><a href="/"><img class="navbar-logo" src="/images/logo.png"></a></li>
                <li><a href="/">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
            </ul>
        </div>
        <div class="right-side">
            <!-- Right side content here -->
            <% if (user){ %>
                <ul>
                    <% if (user.role=="admin" ){ %>
                        <li><a>ADMIN PLACEHOLDER</a></li>
                        <% } %>
                            <li><a href="/add/pantry">The Pantry</a></li>
                            <li><a href="/recipe/all">Recipes</a></li>
                            <li><a href="/auth/logout">Logout</a></li>
                </ul>
                <% }else{ %>
                    <ul>
                        <li><a href="/auth/login">Login</a></li>
                        <li><a href="/auth/signup">Sign Up</a></li>
                    </ul>
                    <% } %>
        </div>
    </nav>
    <main><%- body %></main>
</body>