body {
    margin: 0;
    padding: 0;
    display: block;
    justify-content: center;
    align-items: flex-start; /* Align items at the top */
    min-height: 100vh; /* Changed height to min-height */
    background-color: #f0f0f0;
}


.container {
    text-align: center;
    width: 100%;
    margin-top: 5%;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

select {
    width: calc(66% - 90px);
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}

#user-pantry-grid-container {
    margin-left: 16%;
}
#user-pantry-grid {
    display: grid;
    gap: 5px;
    grid-template-columns: auto 1fr;
}
.delete-img {
    width: 20px;
}
.image-container {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: flex-start; /* Align left */
}
